version: "3.9"

services:
  jenkins:
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    container_name: jenkins
    restart: unless-stopped

    ports:
      - "8080:8080"
      - "50000:50000"

    # ✅ Limit resource untuk docker compose lokal (non-swarm)
    mem_limit: 1g
    memswap_limit: 1g
    cpus: "1.5"

    environment:
      - TZ=Asia/Jakarta
      # ✅ Supaya heap Java nggak kebesaran dari limit container
      - JAVA_OPTS=-Xms512m -Xmx1536m

    volumes:
      - jenkins_home:/var/jenkins_home
      # ✅ Akses Docker daemon host (agar Jenkins bisa docker build/run)
      - /var/run/docker.sock:/var/run/docker.sock

    # Kalau kena permission error akses docker.sock, aktifkan ini:
    # user: "0:0"

volumes:
  jenkins_home:
