version: '3.8'

services:
  tomcat9:
    # Menggunakan base image Tomcat 9 dengan Java 21 (Eclipse Temurin build)
    image: tomcat:9.0-jdk21-temurin
    container_name: tomcat_9_java_21
    restart: always
    ports:
      - "8086:8080"
    volumes:
      - ../conf/tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml
      - ../conf/manager.xml:/tmp/manager.xml
    environment:
      - JAVA_OPTS=-Xmx512m -Xms256m
    command: >
      sh -c "cp -r /usr/local/tomcat/webapps.dist/* /usr/local/tomcat/webapps/ &&
             mkdir -p /usr/local/tomcat/conf/Catalina/localhost &&
             cp /tmp/manager.xml /usr/local/tomcat/conf/Catalina/localhost/manager.xml &&
             catalina.sh run"